* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
}

nav {
  width: 1200px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 24px;
  font-weight: 700;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 0 17px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/* header section end here */

/* main section start here */

/* hero section start here */

.hero {
  width: 1150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.heding {
  margin-right: 50px;
}

.heding h2 {
  font-size: 52px;
}
.heding-img img {
  width: 475px;
  height: 475px;
  margin: 50px;
}

.btn {
  background-color: #e02c6d;
  color: white;
  padding: 10px 24px;
  border-radius: 40px;
  margin: 16px 0;
  border: none;
}

.btn i {
  margin-left: 10px;
}

/* company start here */

.company {
  width: 1110px;
  height: 110px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-image: radial-gradient(
      rgba(113, 114, 114, 0.212) 0%,
      rgb(168, 167, 167) 50%,
      rgba(170, 170, 168, 0.212)
    )
    1;
}

/* popular-collection start here */

.popular-collection {
  width: 1110px;
  margin: 100px auto;
}

.popular-collection h3 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.collection {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 15px;
  border-radius: 5px;
}

.collection img {
  width: 300px;
  height: 256px;
}

.product-name {
  font-size: 28px;
}

.product-price {
  font-size: 24px;
}

.fa-star,
.fa-star-half-stroke {
  font-size: 14px;
  color: #fb8200;
}

span {
  color: #5e6366;
}

.condition {
  font-size: 14px;
  color: #787885;
}

.see {
  text-align: right;
  margin-top: 50px;
  color: rgba(224, 44, 109, 0.87);
  cursor: pointer;
}

.see i {
  margin-left: 5px;
}

/* featured section start here */

.featured {
  width: 1110px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img img {
  width: 404px;
  height: 270px;
  margin-right: 96px;
}

.feature h4 {
  font-size: 38px;
}

.feature p {
  color: #6c6c6c;
}

.btn-last {
  margin-top: 16px;
  padding: 10px 24px;
  background-color: #e02c6d;
  color: white;
  border: none;
}

/* footer start here */

footer {
  width: 100%;
  height: 250px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 265px;
  height: 140px;
  color: white;
  text-align: center;
}

.container h5 {
  font-size: 24px;
}

.container p {
  font-size: 14px;
  margin: 5px 0;
}

.container div {
  margin-top: 16px;
}
.container div i {
  margin: 0 16px;
}

.container div i:hover {
  cursor: pointer;
}

/* Media Query start */

@media screen and (max-width: 1150px) {
  nav {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px 50px;
    text-align: center;
  }

  .heding-img img {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .company {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
  .popular-collection {
    width: 100%;
  }
  .collections {
    grid-template-columns: repeat(2, 1fr);
  }
  .collection img {
    width: 100%;
    height: auto;
  }
  .featured {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .company {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .collections {
    grid-template-columns: repeat(1, 1fr);
  }
}
